[submodule "dotfiles/vim/bundle/vim-pathogen"]
	path = dotfiles/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/vim/bundle/perl"]
	path = dotfiles/vim/bundle/perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "dotfiles/vim/bundle/tabular"]
	path = dotfiles/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "dotfiles/vim/bundle/inkpot"]
	path = dotfiles/vim/bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "dotfiles/vim/bundle/vim2hs"]
	path = dotfiles/vim/bundle/vim2hs
	url = git://github.com/dag/vim2hs.git
[submodule "dotfiles/vim/bundle/ghcmod"]
	path = dotfiles/vim/bundle/ghcmod
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "dotfiles/vim/bundle/vimproc"]
	path = dotfiles/vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "dotfiles/vim/bundle/vividchalk"]
	path = dotfiles/vim/bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/lushtags"]
	path = dotfiles/vim/bundle/lushtags
	url = git://github.com/bitc/lushtags.git
[submodule "dotfiles/vim/bundle/tagbar"]
	path = dotfiles/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "dotfiles/vim/bundle/puppet"]
	path = dotfiles/vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "dotfiles/vim/bundle/vim-exchange"]
	path = dotfiles/vim/bundle/vim-exchange
	url = git://github.com/tommcdo/vim-exchange.git
